data/MoAEpilot/*
data/MoAEpilot_batch_step/*
data/MoAEpilot_shasums.txt
data/face_rep/*
data/output/*
data/to_be_deleted/*
data/MoAEpilot_raw/*
src/first_level_analysis/*
src/first_level_analysis/SPM.mat
src/first_level_analysis/job_mat/*
src/first_level_analysis/calculations/*
src/first_level_analysis/trial1/*
src/event_related/*
