data/MoAEpilot/*
data/MoAEpilot/sub-01/*
data/MoAEpilot_toy/*
data/MoAEpilot_raw_toy/*
data/MoAEpilot_batch_step/*
data/MoAEpilot_shasums.txt
data/face_rep_raw/*
data/face_rep_gui/*
data/face_rep_script/*
data/output/*
data/to_be_deleted/*
data/MoAEpilot_raw/*
data/*
/src/Nipype/.ipynb_checkpoints/*
/src/shasum_checker_event.sh
/src/event_related_gui/preprocessing/matfiles/*
/src/event_related_script/matfiles/*
/results/basecomparison_result.txt
